.center
  = link_to "Add #{@peopleType}", new_person_path(event_id: @event.id), role: :button, class: 'btn btn-default'

- if people.count > 0
  .list-group
  - people.each do |p|
    .list-group-item 
      %h4.list-group-item-heading #{p.company} - #{p.name}
      %p.list-group-item-text
        = p.skills
      = link_to edit_person_path(p) do
        %button.btn.btn-default.edit-button{:type => "button"}
          %span.glyphicon.glyphicon-pencil
      = link_to p, method: :delete do
        %button.btn.btn-default.remove-button{:type => "button"}
          %span.glyphicon.glyphicon-remove
