- p = render "layouts/people"
- p = p.downcase
- if people.count > 0
  .div.title
    = people.count
    = p.pluralize(people.count)
    = "in #{@event.name}"
- else
  .div.title
    = "No" 
    = p 
    = " for this #{@event.name}"
.div
  = link_to "Create new " + p, controller: "people", action: "new", event_id: @event.id
- people.each do |p|
  = form_for(p, :method => :delete, :id => p.id) do |f| 
    .schedule
      %b 
        = "Name:" 
      = simple_format p.first_name + " " + p.last_name
      %b 
        = "Bio:" 
      = simple_format p.bio
      .schedule_time.margin
        = "#{p.created_at.strftime("%m/%d/%Y")}"
      .actions.margin     
        = f.submit "delete"
      .margin
        = link_to 'Edit', controller: "people", action: "edit", event_id: @event.id, person_id: p.id