- if flash[:notice]
  .flash
    =flash[:notice]

.col-lg-3
.schedule_form.col-lg-6
  .col-lg-12.title
    = label_tag "Create new schedule for #{@event.name}"
  = form_tag "../schedules", :method => :post do
    .col-lg-12.margin
      = tag("input", type: 'hidden', name: "event_id", value: @event_id)
      - if @edit.present?
        = tag("input", type: 'hidden', name: "schedule_id", value: @schedule_id)	  
	   
      = label_tag "Description"
    .col-lg-12.margin.description
      - if @edit.present?
        = text_area_tag(:description, "#{@schedule.description}")
      - else
        = text_area_tag(:description)
    .col-lg-12.margin
      - if @edit.present?
        = text_field_tag(:start_date, "#{@schedule.start_time.strftime("%m/%d/%Y")}", class: "formbox")	  
      - else 
        = text_field_tag(:start_date, "start date", class: "formbox")	  
    .col-lg-12.margin
      - if @edit.present?
        = text_field_tag(:end_date, "#{@schedule.end_time.strftime("%m/%d/%Y")}", class: "formbox")	  
      - else
        = text_field_tag(:end_date, "end date", class: "formbox")
    .col-lg-12.margin
      = submit_tag("Done")
	  
:javascript
  $(document).ready(function() {
    $( "#start_date, #end_date" ).datepicker({format: 'yyyy-mm-dd'});
  });
