= link_to "Add Schedule Item", new_schedule_path(event_id: @event.id), role: :button, class: 'btn btn-default'

- if schedules.count > 0
  .list-group
  - schedules.each do |s|
    .list-group-item 
      %h4.list-group-item-heading 
        = s.title
      %p.list-group-item-text #{s.start_time.strftime('%I:%M %p')} - #{s.end_time.strftime('%I:%M %p')}
      = link_to edit_schedule_path(s) do
        %button.btn.btn-default.edit-button{:type => "button"}
          %span.glyphicon.glyphicon-pencil
      = link_to s, method: :delete do
        %button.btn.btn-default.remove-button{:type => "button"}
          %span.glyphicon.glyphicon-remove
