.welcome
  - if organizer_signed_in?
    .col-md-8.col-md-offset-2.text-center.trans-container
      .row{class:"btn btn-info col-md-2 col-md-offset-5 btn-lg"}
        = link_to "Create Event", new_event_path, class:"button"
      %br 
      %br 
      %br 
      %hr.short-line
      %h3 My Events
      - if @events.empty?
        You don't have any event. Let's create one!
      - @events.each do | event |
        = link_to event_path(event) do
          %h4
            = event.name
  - else
    .welcome-hero
      .welcome-title Eventable
      .welcome-subtitle Make apps, not war.
      %button.welcome-get-started{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
        Get Started

#myModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title.center Login and Signup
    
      .modal-body.row{style:"margin:50px;"}
        .row{style:"margin-bottom:20px;"}
          
          = link_to "Log in", new_organizer_session_path, {:class =>"button col-md-6 col-md-offset-3 btn btn-primary"}
        .row
          = link_to "Sign up", new_organizer_registration_path, {:class =>"button col-md-6 col-md-offset-3 btn btn-info"}

