.welcome
  - if organizer_signed_in?
    Yo, you're logged in!
    %br
    = link_to "Create Event", new_event_path
    %br
    = link_to "Logout", destroy_organizer_session_path, method: :delete
    
    - @events.each do | event |
      = link_to event_path(event) do
        = event.name
  - else
    .welcome-hero
      .welcome-title Eventable
      .welcome-subtitle Make apps, not war.
      %button.welcome-get-started{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
        Get Started

#myModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title.center Login and Signup
    
      .modal-body.row{style:"margin:50px;"}
        .row{style:"margin-bottom:20px;"}
          
          = link_to "Log in", new_organizer_session_path, {:class =>"button col-md-6 col-md-offset-3 btn btn-primary"}
        .row
          = link_to "Sign up", new_organizer_registration_path, {:class =>"button col-md-6 col-md-offset-3 btn btn-info"}

