= simple_form_for(@event) do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |message|
          %li#err_item= message

  .form-group
    = f.label :name, 'Event Name'
    = f.text_field :name, class: 'form-control', required: true

  .form-group
    = f.label :event_type, 'Event Type'
    = f.select :event_type, ['Hackathon', 'Wedding', 'Conference'], {}, { class: 'form-control' }

  .form-group
    = f.label :app_fgcolor, 'App Foreground Color'
    .input-group.app-colorpicker
      = f.text_field :app_fgcolor, class: 'form-control', value: '#000000', required: true
      %span.input-group-addon
        %i

  .form-group
    = f.label :app_bgcolor, 'App Background Color'
    .input-group.app-colorpicker
      = f.text_field :app_bgcolor, class: 'form-control', value: '#FFFFFF', required: true
      %span.input-group-addon
        %i
  
  .form-group
    = f.label :app_logo, 'App Logo'

    %br
    .center
      - if @event.app_logo.present?
        = image_tag @event.app_logo.to_s, :class => "img_preview"

    = f.file_field :app_logo, id: 'logo', class: 'form-control', required: true

  .actions
    = f.submit class: 'btn btn-default'

:javascript
  $(document).ready(function() {
    $('.app-colorpicker').colorpicker();
  });
