= simple_form_for(@event) do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |message|
          %li#err_item= message

  .form-group
    = f.label :name, 'Event Name'
    = f.text_field :name, class: 'form-control', required: true

  .form-group
    = f.label :event_type, 'Event Type'
    = f.select :event_type, ['Hackathon', 'Wedding', 'Conference'], {}, { class: 'form-control' }

  .form-group
    = f.label :app_fgcolor, 'App Foreground Color'
    = f.text_field :app_fgcolor, class: 'form-control demo3', required: true

  .form-group
    = f.label :app_bgcolor, 'App Background Color'
    = f.text_field :app_bgcolor, class: 'form-control demo2', required: true

  %br/
  .field
    %br/
    - if @event.app_logo.present?
      = image_tag @event.app_logo.to_s, :class => "img_preview"
    - else
      = image_tag "default", :class=> "img_preview"
    .field
      .image_container.btn.btn-primary
        %span
        - if @event.app_logo.present?
          Change Logo
        - else
          Upload Logo
        = f.file_field :app_logo, :id=>"question_image"

  .actions
    = f.submit class: 'btn btn-default'

:javascript
  $(document).ready(function() {

    $('.demo2').colorpicker();
    $('.demo3').colorpicker();

    $("#question_image").change(function(){
        readURL(this);
    });

  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('.img_preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
