.center
  .panel.panel-default
    .panel-heading
      .panel-title
        = @event.name
    .panel-body
      = image_tag @event.app_logo.to_s, :class =>"img_preview"
    .list-group
      %li.list-group-item 
        %strong Foreground Color: 
        %span.btn.btn-default.color-preview{style: "background-color: #{@event.app_fgcolor}"}
      %li.list-group-item 
        %strong Background Color:
        %span.btn.btn-default.color-preview{style: "background-color: #{@event.app_bgcolor}"}
    .panel-footer
      = link_to 'Edit Event Details', edit_event_path(@event), role: :button, class: 'btn btn-default'
