.container
  .row
    .col-md-6
      .iphone6
        %iframe.app-preview{src: app_event_path(@event)}
    .col-md-6
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "main", "data-toggle" => "tab", :href => "#main", :role => "tab"} Main
        %li{:role => "presentation"}
          %a{"aria-controls" => "schedule", "data-toggle" => "tab", :href => "#schedule", :role => "tab"} Schedule
        %li{:role => "presentation"}
          %a{"aria-controls" => "updates", "data-toggle" => "tab", :href => "#updates", :role => "tab"} Updates
        %li{:role => "presentation"}
          %a{"aria-controls" => "prizes", "data-toggle" => "tab", :href => "#prizes", :role => "tab"} Prizes
        %li{:role => "presentation"}
          %a{"aria-controls" => "people", "data-toggle" => "tab", :href => "#people", :role => "tab"} Mentors

      .tab-content.event-panels
        #main.tab-pane.active{:role => "tabpanel"}
          = render 'main'
        #schedule.tab-pane{:role => "tabpanel"}
          = render :partial => 'schedules/index', locals: { schedules: @event.schedules }
        #updates.tab-pane{:role => "tabpanel"}
          = render :partial => 'updates/index', locals: { updates: @event.updates }
        #prizes.tab-pane{:role => "tabpanel"}
          = render :partial => 'prizes/index', locals: { prizes: @event.prizes }
        #people.tab-pane{:role => "tabpanel"}
          = render :partial => 'people/index', locals: { people: @event.people }
