= form_for(@update) do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', required: true
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', required: true
  .form-group
    = f.hidden_field :event_id, value: @event.id
    = f.submit "#{submit_verb} Update", class: 'btn btn-default'
