
.center
  = link_to "Add Update", new_update_path(event_id: @event.id), role: :button, class: 'btn btn-default'

- if updates.count > 0
  .list-group
  - updates.each do |u|
    .list-group-item 
      %h4.list-group-item-heading 
        = u.title
      %p.list-group-item-text
        = u.description
      = link_to edit_update_path(u) do
        %button.btn.btn-default.edit-button{:type => "button"}
          %span.glyphicon.glyphicon-pencil
      = link_to u, method: :delete do
        %button.btn.btn-default.remove-button{:type => "button"}
          %span.glyphicon.glyphicon-remove
