= simple_form_for(@prize) do |f|
  - if @prize.errors.any?
    #error_explanation
      %h2
        = pluralize(@prize.errors.count, "error")
        = "prohibited this "
        - p = render "layouts/prizes"
        = p.downcase
        = "from being saved:"
      %ul
        - @prize.errors.full_messages.each do |message|
          %li#err_item= message
  .field
    = f.label "Name: "
    = f.text_field :name, required: true
  %br/

  .field
    = f.hidden_field :event_id, :value=>@event.id


  .actions
    = f.submit
