.center
  = link_to "Add #{@prizeType}", new_prize_path(event_id: @event.id), role: :button, class: 'btn btn-default'

- if prizes.count > 0
  .list-group
  - prizes.each do |p|
    .list-group-item 
      - if @event.event_type == "Hackathon"
        %h4.list-group-item-heading #{p.award} - #{p.company}
      - else
        %h4.list-group-item-heading #{p.award}
      %p.list-group-item-text
        = p.description
      = link_to edit_prize_path(p) do
        %button.btn.btn-default.edit-button{:type => "button"}
          %span.glyphicon.glyphicon-pencil
      = link_to p, method: :delete do
        %button.btn.btn-default.remove-button{:type => "button"}
          %span.glyphicon.glyphicon-remove
